<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of posts</title>
</head>
<body>
    {% for post in posts %}
        <div class="post">
            <div>{{ post.title }}</div>
            <div>{{ post.post_body }}</div>
            <div></div>
        </div>
    {% endfor %}
</body>
</html>
